.ctn-hero{
  padding-top: 5%;
  padding-bottom: 5%;
  background: #fff;
}

.ctn-hero h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    color: #3e4450;
    
  }

.btn{
    size: 120%;
}

.jumbotron{
  background-color:transparent !important;
}
  
.a{
  color: black;
}
/* .hero-landingpage{
  font-size: 24px;
  font-weight: bold;
} */