.container{
    width: 100%;
    height: 80vh;
    background: white;
    padding-top: 50px;
}
.container h1{
    font-size: 36px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 780px;
}
.container h2{
    font-size: 16px;
    color: #484848;
    margin-left: 780px;
    font-weight: lighter;
}
.gambarsection1{
    position: absolute;
    margin-top: 30px;
}