#dropdown-basic-button{
   margin-right: 40px;
   width: 45px;
   height: 45px;
   border-radius: 100%;
   background-color: #C4C4C4;
  border: none;
}
.icon-navbar2{
    margin-right: 50px;
    color: black;
}

