:root {
    --primary: white;
}

.btn {
    padding: 18px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    color: 484848;
    background-color: #FF5A5F;
}
.brn-mobile{
    margin-bottom: 20px;
    border-radius: 20px;
    color: 484848;
    background-color: #FF5A5F;
}
