.navbar {
    background: silver;
    height: 70px;
    
 
}

.navbar-container {
    display: flex;
    justify-content: center;
   align-items: center;
    height: 80px;
    max-width: 100%;
}

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.judul {
    color: #FF5A5F;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    height: 80px;
}

.nav-links {
    color: #484848;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 78px;
}